{% load static %}


<!-- Header -->
<header class="">
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand" href="index.html"><h2>Stand Blog<em>.</em></h2></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                    aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item {% if request.resolver_match.url_name == 'home' %}active {% endif %}">
                        <a class="nav-link" href="{% url 'home:home' %}">Home
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item {% if request.resolver_match.url_name == 'about' %}active {% endif %}">
                        <a class="nav-link" href="{% url 'aboutus:about' %}">About Us</a>
                    </li>
                    <li class="nav-item {% if request.resolver_match.url_name == 'blog' %}active {% endif %}">
                        <a class="nav-link" href="{% url 'blog:blog' %}">Blog Entries</a>
                    </li>
                    <li class="nav-item {% if request.resolver_match.url_name == 'login' %}active {% endif %}">
                        {% if request.user.is_authenticated == True %}
                        <a class="nav-link" href="{% url 'accounts:logout' %}">Logout</a>
                        <!-- <a class="nav-link" href="post-details.html">Post Details</a> -->
                        {% else %}
                        <a class="nav-link" href="{% url 'accounts:login' %}">login/sing up</a>
                        {% endif %}
                    </li>
                    <li class="nav-item {% if request.resolver_match.url_name == 'contactus' %}active {% endif %}">
                        <a class="nav-link" href="{% url 'contactus:contactus' %}">Contact Us</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
